{% extends "base.html" %}
{% load staticfiles %}


{% block head %}
  <link rel="stylesheet" href="{% static 'css/product.css' %}">

{% endblock head %}
   



{% block jumbotron %}

    <div id="container">
      <div id="slideshow" class="cycle-slideshow" 
        data-cycle-fx="shuffle"
        data-cycle-manual-fx="scrollHorz" 
        data-cycle-speed="1000"
        data-cycle-next="#next"
        data-cycle-prev="#prev">
    {% for item in images %}
       <img src="{{item.image.url}}"/><br/><br/>
<br/>
 <br/>
     {% endfor %}

      </div>
      <img id="next" src="{% static 'images/next1.svg' %}"/>
      <img id="prev" src="{% static 'images/prev1.svg' %}"/>
    </div><br/>
<br/>
 <br/>
{% endblock %}
<br/>
<br/>
 <br/>
{% block content %}
<!--<h1>Product({{count}} items)</h1>-->
 <div class="row">
  {% for product in product %}
    <div class="col-md-3">
       <div class="product">
       <a href="{{product.get_absolute_url}}"><img src="{{product.image.url}}" width='200' height='200' ></a>
       <p style="text-align:center">{{product.name}}</p> 
       <p style="text-align:center"> Rs. {{product.price}}</p>


        <br/>


         <form class='form' method='POST' action='{{product.get_absolute_url}}'> {% csrf_token %}
        <!--<a href='{% url "add_to_cart" product.slug %}'>-->
        <input class='btn btn-primary btn-block' type='submit' value='View' >
<br/>
 <br/>

      </div>
  </div>
  {% endfor %}
</div>


{% endblock %}